<label for="brew_name">Company</label>
<input class="form-control" id="brew_company" name="brew[company]" type="text">
<br />
<label for="brew_name">Name of the beer</label>
<input class="form-control" id="brew_name" name="brew[name]" type="text">
<br>

<label for="brew_description">Description</label><br>
<textarea class ="form-control" rows="3" id="content" name="brew[description]" type="text">Description</textarea><br>
