<h1>BREWS</h1>

<ul>
<% @brews.each do |brew| %>
<li class="big"><a href="/brews/<%= brew.id %>"><%= brew.name %></a></li>
<% end %>
</ul>


<a href="/brews/new"><button class="btn btn-primary">Add a beer to the database</button</a>


