<h1>Add a new beer to the database</h1>
<br />

<form action="/brews" method="post">
<%= render('form') %>

  <button class="btn btn-success">Add Beer</button>

</form>

<p><a href="/types">Back to type list</a></p>
