<label for="type_name">Type of Beer</label>
<input class="form-control" id="type_id" name="type[name]" type="text">
<br>
<label for="type_content">Description</label><br>
<textarea class ="form-control" rows="3" id="content" name="type[description]" type="text">Description</textarea><br>
