<h1>Enter a type!</h1>



<form action="/types" method="post">
<%= render('form') %>

  <button class="btn btn-success">Create beer type</button>

</form>

<p><a href="/types">Back to type list</a></p>
