<!DOCTYPE html>
<html>
<head>
  <title>Brews</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">

<%= yield %>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
 <br />
    <a href="/brews">Home</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <a href="/brews/new">New Beer</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <a href="/types/new">New Type</a>


  </div>
</div>
</nav>
</body>
</html>
